@import url('https://fonts.googleapis.com/css?family=Open Sans');

:root{
    --section-border: #ECEFF2;
}

html {
    background: #F6F7F9;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.storage-container {
    display: flex;
    flex-direction: column;
    border: .0625rem solid #ECEEEF;
    border-radius: .625rem;
    background: #FFF;
    height: calc(100vh - 5rem);
    margin: 1.5rem;
    padding-bottom: .625rem;
}

.storage-header {
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    margin: 0;
    min-height: 4.5rem; /**/
    color: #43525C;
    font-family: sans-serif;
    font-size: 1.5rem;
}

.file-header {
    display: flex;
    padding: 1rem 1.5rem;
    border-top: .0625rem solid var(--section-border);
    border-bottom: .0625rem solid var(--section-border);
}


.file-title {
    display: flex;
    font-size: 1.25rem;
    align-items: center;
    color: #3E5462;
    margin-right: auto;
}

.search-container {
    display: flex;
    align-items: center;
    width: 14rem;
    height: 2.5rem;
    padding: 0 .5rem;
    margin: 0 1rem 0 0;
    border-radius: .5rem;
    border: .0625rem solid #DBE1E5;
}

.search-container:hover {
    border-color: #1976D2
}

.search-container:active {
    box-shadow: 0 0 0 .25rem #D9EBFF;
}

.search-input {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    border: none;
    outline: none;
    font-size: .875rem;
    color: #3E5462;
}

.search-icon {
    color: #3E5462;
    border-radius: .25rem;
    padding: .25rem;
}

.search-icon:hover {
    background-color: #F6F7F9;
    color: #004FAA;
}

.search-icon:active {
    background-color: #D9EBFF;
    color: #003B71;
}

.add-button {
    background-color: #1976D2;
    border-radius: .375rem;
    padding: .625rem;
    color: #FFFFFF;
    height: 2.625rem;
    transition: 0.3s;
}

.add-button:hover {
    background-color: #004FAA;
}

.add-button:active {
    background-color: #003B71;
}

.add-button-content {
    display: flex;
    gap: .5rem;
}

.add-new {
    font-size: .875rem;
    color: #FFFFFF;
}

.table-container {
    display: flex;
    overflow-y: auto;
}

.file-table {
    font-size: 1rem;
    color: #3E5462;
    border-spacing: 0;
    width: 100%;
}

thead {
    z-index: 1;
    position: sticky;
    top: 0;
    background-color: #FFFFFF;
}

tr {
    display: grid;
    grid-template-columns: auto 1fr 12.5rem 11rem 8rem 7rem;
    text-align: left;
    align-items: center;
    height: 3rem;
    border-bottom: .0625rem solid var(--section-border);
}

.action-header {
    padding: 0 1.875rem;
}

.checkbox-th {
    padding: 0 1rem 0 1.5rem;
}

.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-appearance: none;
    appearance: none;
    border-radius: .25rem;
    height: 1rem;
    width: 1rem;
    border: .0625rem solid #3E5462;
    cursor: pointer;
}

.checkbox:hover {
    border-color: #1976D2;
    outline-style: solid;
    outline-width: .125rem;
    outline-color: #D9EBFF;
}

.checkbox:active {
    border-color: #1976D2;
    outline-width: .25rem;
    outline-color: #D9EBFF;
}

.checkbox:checked {
    background-color: #1976D2;
    border: .0625rem solid #1976D2;
}

.checkbox:checked::after {
    content: url('assets/check.svg');
}

.table-row:has(.checkbox:checked) {
    background-color: #ECF5FF;
}

.checkbox:checked:active {
    background-color: #003B71;
    border: .0625rem solid #003B71;
}

.table-row:hover {
    cursor: pointer;
    background-color: #F6F7F9;
}

.action-td {
    display: flex;
    justify-content: center;
}

.action-button {
    color: #3E5462;
    height: 2rem;
    width: 2rem;
    border-radius: .25rem;
    transition: .3s;
}

.action-button:hover {
    background-color: #DBE1E5;
}

/* .dropdown-btn {
    position: relative;
}

.dropdown-btn:hover .dropdown-container {
    display: flex;
}

.dropdown-container {
    display: flex;
    position: absolute;
    top: 0;
    left: -154px;
    flex-direction: column;
    padding: 8px 0;
    margin: 0;
    height: fit-content;
    width: 9.5rem;
    background-color: #FFFFFF;
    border: 1px solid #BAC5CD;
    border-radius: .5rem;
    box-shadow: 0 .25rem .625rem #0000000d;
    list-style: none;
}

.dropdown-container li :hover {
    background-color: var(--section-border);
}

.dropdown-container li :active {
    background-color: #1976D2;
    color: #FFFFFF;
}

.dropdown-content {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: .875rem;
    font-family: 'Open Sans', sans-serif;
    color: #3E5462;
    padding: 8px 16px 8px 8px;
    width: 100%;
} */

.pagination-container {
    display: flex;
    justify-content: right;
    padding: 1rem 1.5rem;
    border-top: .0625rem solid var(--section-border);
    margin-top: auto;
}

ul {
    display: flex;
    margin: 0;
    color: #3E5462;
    font-size: .875rem;
    list-style: none;
    gap: 0.25rem;
}

ul li {
    display: flex;
    width: 1.5rem;
    height: 1.5rem;
    gap: .25rem;
}   

.page-number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 .75rem;
}

.left-forward::before{
    content: url("assets/left_forward.svg");
}

.left-arrow::before{
    content: url("assets/left_arrow.svg");
}

.right-arrow::before{
    content: url("assets/right_arrow.svg");
}

.right-forward::before{
    content: url("assets/right_forward.svg");
}

.btn-pagination {
    padding: 0;
    border-radius: .25rem;
    transition: .3s;
}

.btn-pagination:hover {
    background-color: #ECEEEF;
}

.btn-pagination:active {
    background-color: #DBE1E5;
}