@import url('fonts.googleapis.com/css?family=Open+Sans');

/* *{
    margin: 0;
    padding: 0;
} */

html {
    background: #F6F7F9;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

button {
    border: none;
}

.storage-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #ECEEEF;
    padding: 10px 0;
    border-radius: 10px;
    background: #FFF;
    height: calc(100vh - 5rem);
    margin: 24px;
}

.header {
    display: flex;
    padding-left: 16px;
    align-items: center;
    margin: 0;
    height: 4.5rem;
    color: #43525C;
    font-size: 24px;
}

.storage-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-top: 1px solid #ECEFF2;
    border-bottom: 1px solid #ECEFF2;
}

.file-title {
    display: flex;
    font-size: 20px;
    font-weight: 500;
    align-items: center;
    color: #3E5462;
}

.search-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-bar {
    width: 224px;
    height: 40px;
    border-radius: 6px;
    padding: 0px 8px;
    border: 1px solid #DBE1E5;
}

.search-bar:hover {
    border-color: #1976D2;
}

.search-bar:active {
    box-shadow: 0 0 0 4px #D9EBFF;
}

.add-button {
    background-color: #1976D2;
    border-radius: 6px;
    padding: 10px;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    height: 42px;
}

.add-button:hover {
    background-color: #004FAA;
    cursor: pointer;
}

.add-button:active {
    background-color: #003B71;
}

.add-new {
    font-size: 14px;
    color: #FFFFFF;
}
/* 
.file-table {

    border-bottom: 1px solid #ECEFF2;
}

.file-table th { 
    display: grid; 
    font-size: 16px;
    font-weight: 400;
    color: #3E5462;
    height: 48px;
}
*/



.grid-table{
    display: grid;
    grid-template-columns: 60px 1fr 200px 150px 100px 100px;
    /* grid-template-columns: 1fr 15fr 200px 150px 100px 100px; */
    /* border-bottom: 1px solid #ECEFF2;
    padding: 10px 13px; */
}

.grid-table span{
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    color: #3E5462;
    border-bottom: 1px solid #ECEFF2;
    padding: 10px 13px;
    overflow: hidden;
}

.checkbox-header {
    height: 16px;
    width: 16px;
    -webkit-appearance: none;
    border: 1px solid #3E5462;
    border-radius: 3px;
}

.checkbox-header:hover {
    border-color: #1976D2;
    cursor: pointer;
} 