html {
    background: var(--background-color);
}

body {
    font-family: 'Open Sans', sans-serif;
    color: var(--text-color);
    margin: 0;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

table{
    border-spacing: 0;
}

ol, ul{
    margin: 0;
}

ol, ul{
    list-style: none;
}