@import url("reset.css");
@import url('https://fonts.googleapis.com/css?family=Open Sans');

:root {
    --background-color: #F6F7F9;
    --element-background-color: #FFFFFF;
    --section-border: #ECEFF2;
    --button-color: #1976D2;
    --text-color: #3E5462;
    --hover-color: #004FAA;
    --search-active-color: #003B71;
    --shadow-color: #D9EBFF;
    --border-color: #DBE1E5;
    --header-color: #43525C;
    --row-checked-color: #ECF5FF;
    --container-color: #ECEEEF;
}

/* button {
    
} */

.storage-container {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--container-color);
    border-radius: 10px;
    background: var(--element-background-color);
    height: calc(100vh - 5rem);
    margin: 1.5rem;
    padding-bottom: 0.5rem;
}

.storage-header {
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    margin: 0;
    min-height: 4.5rem;
    color: var(--header-color);
    font-family: sans-serif;
    font-size: 24px;
}

.file-container {
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 1rem;
    align-items: center;
    padding: 1rem 1.5rem;
    border-top: 1px solid var(--section-border);
    border-bottom: 1px solid var(--section-border);
    font-size: 20px;
}

.search-container {
    display: flex;
    align-items: center;
    width: 14rem;
    height: 2.5rem;
    padding: 0 .5rem;
    border-radius: .5rem;
    border: 1px solid var(--border-color);
}

.search-container:hover {
    border-color: var(--button-color)
}

.search-container:active {
    box-shadow: 0 0 0 .25rem var(--shadow-color);
}

.search-input {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    border: none;
    outline: none;
    font-size: 14px;
}

.search-icon {
    color: var(--text-color);
    border-radius: .25rem;
    padding: .25rem;
}

.search-icon:hover {
    background-color: var(--background-color);
    color: var(--hover-color);
}

.search-icon:active {
    background-color: var(--shadow-color);
    color: var(--search-active-color);
}

.add-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: 2.5rem;
    padding: .625rem;
    background-color: var(--button-color);
    border-radius: 6px;
    color: var(--element-background-color);
    transition: 0.3s;
    font-size: 14px;
}

.add-button:hover {
    background-color: var(--hover-color);
}

.add-button:active {
    background-color: var(--search-active-color);
}

.table-container {
    display: flex;
    overflow-y: auto;
}

table {
    font-size: 16px;
    width: 100%;
}

thead {
    z-index: 1;
    position: sticky;
    top: 0;
    background-color: var(--element-background-color);
}

tr {
    display: grid;
    grid-template-columns: auto 1fr 12.5rem 11rem 8rem 7rem;
    text-align: left;
    align-items: center;
    height: 3rem;
    border-bottom: 1px solid var(--section-border);
}

.checkbox-tr {
    padding: 0 1rem 0 1.5rem;
}

.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-appearance: none;
    appearance: none;
    border-radius: .25rem;
    height: 1rem;
    width: 1rem;
    border: 1px solid var(--text-color);
    cursor: pointer;
}

.checkbox:hover {
    border-color: var(--button-color);
    outline-style: solid;
    outline-width: 2px;
    outline-color: var(--shadow-color);
}

.checkbox:active {
    border-color: var(--button-color);
    outline-width: .25rem;
    outline-color: var(--shadow-color);
}

.checkbox:checked {
    background-color: var(--button-color);
    border: 1px solid var(--button-color);
}

.checkbox:checked::after {
    content: url('../assets/check.svg');
}

.checkbox:checked:active {
    background-color: var(--search-active-color);
    border: 1px solid var(--search-active-color);
}

.table-row:has(.checkbox:checked) {
    background-color: var(--row-checked-color);
}

.table-row:hover {
    cursor: pointer;
    background-color: var(--background-color);
}

.action-th {
    padding: 0 2rem;
}

.action-td {
    display: flex;
    justify-content: center;
}

.action-button {
    color: var(--text-color);
    height: 2rem;
    width: 2rem;
    border-radius: .25rem;
    transition: .3s;
}

.action-button:hover {
    background-color: var(--border-color);
}

.pagination-container {
    display: flex;
    justify-content: right;
    padding: 1rem 1.5rem;
    border-top: 1px solid var(--section-border);
    margin-top: auto;
}

ul {
    display: flex;
    font-size: 14px;
}

ul li {
    display: flex;
    width: 1.5rem;
    height: 1.5rem;
    gap: .25rem;
}

.page-number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 .75rem;
}

.left-forward::before {
    content: url("../assets/left_forward.svg");
}

.left-arrow::before {
    content: url("../assets/left_arrow.svg");
}

.right-arrow::before {
    content: url("../assets/right_arrow.svg");
}

.right-forward::before {
    content: url("../assets/right_forward.svg");
}

.btn-pagination {
    padding: 0;
    border-radius: .25rem;
    transition: .3s;
}

.btn-pagination:hover {
    background-color: var(--container-color);
}

.btn-pagination:active {
    background-color: var(--border-color);
}